<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<h1 align="center">Add Product</h1>
		
		
		
		
			<table align="center" border="1">
			
			<form method="post" th:action="@{/products/add}" th:object = "${product}">
			
				<tr>
					<th>Product Name</th>
					<td><input type="text" th:field="*{productName}"></td>
				</tr>
				
				<tr>
					<th>Description</th>
					<td><input type="text" th:field="*{description}"></td>
				</tr>
				
				<tr>
					<th>Manufacturer</th>
					<td><input type="text"  th:field="*{manufacturer}"></td>
				</tr>
				
				<tr>
					<th>Price</th>
					<td><input type="number" th:field="*{price}"></td>
				</tr>
				
				<tr>
					<th>Category</th>
					<td><input type="text" th:field="*{category}"></td>
				</tr>
				
				<tr>
				<td><input type="submit" value="submit"></td>
			</tr>
				
					</form>
				
			</table>
		
		
	
		
</body>
</html>