<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<h1 align="center">Login Form</h1>
		
		<table border="1" align="center">
		
			<form method="post" th:action="@{/users/login}" th:object = "${user}">
			
		
			<tr>
				<td>Email</td>
				<th><input type="email"  th:field="*{email}"></th>
			</tr>
			<tr>
				<td>Password</td>
				<th><input type="password"  th:field="*{password}"></th>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="submit"></td>
			</tr>
				
			</form>
		</table>
		
		
</body>
</html>