<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 align="center">Products</h1>
	
	<table align="center" border="1">
		<tr>
			<th>Product Name</th>
			<th>Description</th>
			<th>Manufacturer</th>
			<th>Price</th>
			<th>Category</th>
			<th>Add To Cart</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<tr th:each="product : ${products}">
			<td><a th:text = "${product.productName}"></td>
			<td><a th:text = "${product.description}"></td>
			<td><a th:text = "${product.manufacturer}"></td>
			<td><a th:text = "${product.price}"></td>
			<td><a th:text = "${product.category}"></td>
			<td><a th:href="@{/carts/add/{prod_id}(prod_id = ${product.id})}">Add to Cart</a></td>
			<td><a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a></td>
			<td><a th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a></td>
		</tr>
	</table>
	
</body>
</html>